@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-700.woff") format("woff"); }

@font-face {
  font-family: 'PF Din Text Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pfdintextpro-regular-webfont.woff2") format("woff2"), url("../fonts/pfdintextpro-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'PF Din Text Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/pfdintextpro-medium-webfont.woff2") format("woff2"), url("../fonts/pfdintextpro-medium-webfont.woff2") format("woff"); }

@font-face {
  font-family: 'PF Din Text Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pfdintextpro-bold-webfont.woff2") format("woff2"), url("../fonts/pfdintextpro-bold-webfont.woff2") format("woff"); }

body {
  font-family: PF Din Text Pro, Arial, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #292727;
  overflow-x: hidden;
  position: relative; }

.first-screen {
  background-image: url("../../img/first-back.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  z-index: 0; }
  .first-screen .container {
    padding-top: 15px;
    height: 84.4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .first-screen::before {
    content: '';
    position: absolute;
    width: 63vw;
    height: 100vh;
    background-image: url("../../img/frame-yellow.svg");
    background-repeat: no-repeat;
    background-position: 70% 100%;
    background-size: auto 100%;
    z-index: -1; }
  .first-screen::after {
    content: '';
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2; }
  .first-screen header .experience {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px; }
    .first-screen header .experience span {
      color: #fbd34b;
      text-transform: uppercase; }
  .first-screen header .phone {
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 300;
    line-height: 26.04px;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap; }
    .first-screen header .phone:hover {
      opacity: 0.8; }
    .first-screen header .phone:active {
      opacity: 1; }
  .first-screen header .request {
    color: #fbd34b;
    font-weight: 500;
    line-height: 26.04px;
    letter-spacing: 0.35px;
    border-bottom: 1px dotted #fbd34b;
    margin-bottom: 10px;
    text-align: end;
    cursor: pointer; }
    .first-screen header .request:hover {
      border-bottom: none;
      color: #f3b200;
      padding-bottom: 1px; }
    .first-screen header .request:active {
      opacity: 1;
      color: #fbd34b; }
  .first-screen header .footnote {
    color: #ffffff;
    opacity: 0.9;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px; }
  .first-screen .caption {
    text-transform: uppercase; }
    .first-screen .caption h1 {
      text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
      color: #ffffff;
      font-size: 62px;
      font-weight: bold; }
    .first-screen .caption h2 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 400; }
    .first-screen .caption p {
      color: #fbd34b;
      font-size: 18px;
      font-weight: 500; }
  .first-screen .background {
    background-image: url("../../img/yellow-romb.png");
    background-repeat: no-repeat;
    background-position: 82% 100%; }
  .first-screen .triggers {
    margin-bottom: 50px; }
    .first-screen .triggers li {
      text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      padding-left: 65px;
      margin-bottom: 35px;
      position: relative; }
      .first-screen .triggers li:last-child {
        margin-bottom: 0; }
      .first-screen .triggers li::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 40px;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top; }
    .first-screen .triggers .triggers-elem-1::before {
      background-image: url("../../img/first-icon-1.png"); }
    .first-screen .triggers .triggers-elem-2::before {
      background-image: url("../../img/first-icon-2.png"); }
    .first-screen .triggers .triggers-elem-3::before {
      background-image: url("../../img/first-icon-3.png"); }
  .first-screen .rhomb {
    -webkit-transform: translateX(15%);
            transform: translateX(15%); }
    .first-screen .rhomb span {
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase; }
    .first-screen .rhomb p:first-of-type {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase; }
    .first-screen .rhomb .footnote {
      font-size: 16px;
      opacity: 0.9; }
    .first-screen .rhomb button {
      width: 305px;
      margin-bottom: 40px;
      color: #ffffff;
      background: #292727;
      font-size: 16px;
      line-height: 26px;
      min-height: 55px;
      font-weight: 500;
      text-transform: uppercase; }
      .first-screen .rhomb button:hover {
        color: #f3b200;
        background: black; }
      .first-screen .rhomb button:active {
        color: #ffffff;
        background: #292727; }
  @media (max-width: 1200px) {
    .first-screen::before {
      background-position: 100% 100%; }
    .first-screen .background {
      background-position: 100% 100%; }
    .first-screen .rhomb {
      -webkit-transform: translateX(18%);
              transform: translateX(18%); } }
  @media (max-width: 992px) {
    .first-screen::before {
      background-image: none; }
    .first-screen::after {
      width: 100%; }
    .first-screen .background {
      background-position: 50% 100%; }
    .first-screen .rhomb {
      -webkit-transform: none;
              transform: none; } }
  @media (max-width: 768px) {
    .first-screen .background {
      background-size: contain; }
    .first-screen .caption h1 {
      font-size: 52px; }
    .first-screen .rhomb span {
      font-size: 26px; }
    .first-screen .rhomb button {
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .first-screen {
      height: auto; }
      .first-screen .container {
        height: auto; }
      .first-screen .caption h1 {
        font-size: 37px; }
      .first-screen .caption h2 {
        font-size: 20px; }
      .first-screen .caption p {
        font-size: 16px;
        font-weight: 500; }
      .first-screen .background {
        background-image: url("../../img/yellow-romb.png");
        background-size: 100% 75%; }
      .first-screen .rhomb {
        text-align: center; }
        .first-screen .rhomb span {
          font-size: 18px; }
        .first-screen .rhomb p:first-of-type {
          font-size: 14px;
          width: 65%; }
        .first-screen .rhomb .footnote {
          font-size: 14px;
          opacity: 0.9;
          width: 90%; }
        .first-screen .rhomb button {
          width: 84%;
          margin-bottom: 0px;
          color: #ffffff;
          background: #292727;
          font-size: 16px;
          line-height: 26px;
          min-height: 55px;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 12px; }
          .first-screen .rhomb button:hover {
            color: #f3b200;
            background: black; }
          .first-screen .rhomb button:active {
            color: #ffffff;
            background: #292727; } }

.produced {
  background-image: url("../../img/background-2.png");
  background-size: auto 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 50px 0; }
  .produced .caption {
    text-transform: uppercase;
    margin-bottom: 100px; }
    .produced .caption P {
      margin-bottom: 0.5rem; }
    .produced .caption p:first-of-type {
      color: #f3b200;
      font-size: 20px;
      font-weight: bold; }
    .produced .caption p:nth-last-of-type(2) {
      color: #292727;
      font-size: 36px;
      font-weight: 500; }
    .produced .caption p:last-of-type {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 0; }
  .produced ul {
    margin-bottom: 0; }
    .produced ul li {
      width: 230px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 23px;
      padding-left: 83px;
      padding-top: 82px;
      position: relative; }
      .produced ul li::before {
        content: '';
        width: 125px;
        height: 125px;
        position: absolute;
        top: 0;
        left: 0; }
    .produced ul li:first-child {
      margin-left: 90px; }
      .produced ul li:first-child::before {
        background-image: url("./../../img/produced-item-1.svg"); }
    .produced ul li:nth-child(2)::before {
      background-image: url("./../../img/produced-item-2.svg"); }
    .produced ul li:nth-child(3) {
      margin-left: 130px; }
      .produced ul li:nth-child(3)::before {
        background-image: url("./../../img/produced-item-3.svg"); }
    .produced ul li:last-child {
      margin-left: 35px;
      margin-bottom: 0; }
      .produced ul li:last-child::before {
        background-image: url("./../../img/produced-item-4.svg"); }
  .produced .carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: 0; }
    .produced .carousel .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #c6c6c6; }
      .produced .carousel .carousel-indicators li.active {
        background-color: #fbd34b; }
  .produced .carousel .carousel-inner {
    height: 370px; }
  @media (max-width: 992px) {
    .produced {
      background-image: none; }
      .produced .caption {
        margin-bottom: 70px; } }
  @media (max-width: 768px) {
    .produced ul {
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .produced ul li:first-child {
        margin-left: 0px; }
      .produced ul li:nth-child(3) {
        margin-left: 0px; }
      .produced ul li:last-child {
        margin-left: 0px; } }
  @media (max-width: 576px) {
    .produced ul {
      justify-content: center; }
    .produced .carousel .carousel-inner {
      height: 300px; } }

.advantages {
  padding: 50px 0;
  background-image: url("../../img/advantages-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f6f6f6; }
  .advantages .caption {
    text-transform: uppercase;
    margin-left: 30px;
    margin-bottom: 40px; }
    .advantages .caption h2 {
      font-size: 30px;
      font-weight: bold;
      display: inline-block; }
    .advantages .caption p {
      color: #f3b200;
      font-size: 20px;
      font-weight: 500; }
  .advantages .image-block {
    position: relative; }
    .advantages .image-block p {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%; }
    .advantages .image-block img {
      -o-object-fit: cover;
         object-fit: cover; }
  .advantages .text-block {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34);
    width: 260px;
    height: 260px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 20px;
    background: #ffffff; }
  .advantages .official-coop,
  .advantages .full-equip {
    position: relative;
    padding: 0;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    border: 10px solid #fbd34b; }
  .advantages .official-coop::after {
    content: '';
    margin-left: 50%;
    left: -20px;
    position: absolute;
    bottom: -50px;
    border: 20px solid transparent;
    border-top: 20px solid #fbd34b; }
  .advantages .official-coop p {
    padding-bottom: 103px;
    position: relative;
    margin: 0; }
    .advantages .official-coop p::before {
      content: '';
      background-image: url("../../img/contract.png");
      width: 83px;
      height: 75px;
      bottom: 0;
      left: 83px;
      background-repeat: no-repeat;
      position: absolute; }
  .advantages .full-equip::after {
    content: '';
    margin-left: 50%;
    left: -20px;
    position: absolute;
    top: -50px;
    border: 20px solid transparent;
    border-bottom: 20px solid #fbd34b; }
  .advantages .full-equip p {
    padding-top: 122.99px;
    position: relative;
    margin: 0; }
    .advantages .full-equip p::before {
      content: '';
      background-image: url("../../img/key.png");
      width: 82px;
      height: 97px;
      top: 0;
      left: 82px;
      background-repeat: no-repeat;
      position: absolute; }
  @media (max-width: 1200px) {
    .advantages {
      background-position: 40% 50%;
      background-size: cover; }
      .advantages .caption {
        margin-bottom: 0px; } }
  @media (max-width: 992px) {
    .advantages {
      background-image: none; }
      .advantages .caption {
        margin-left: 0;
        text-align: center;
        margin-bottom: 70px; } }
  @media (max-width: 768px) {
    .advantages .full-equip::after {
      top: auto;
      bottom: -30px;
      border-bottom: none;
      border-top: 20px solid #fbd34b; } }

.problems {
  padding: 50px 0;
  background-image: url("../../img/3problem-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6; }
  .problems .caption {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 100px; }
    .problems .caption p:first-of-type {
      display: inline-block;
      font-size: 22px;
      background-color: #fbd34b;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 40px;
      padding-right: 15px;
      margin-bottom: 0;
      position: relative;
      z-index: 1; }
      .problems .caption p:first-of-type::after {
        content: '3';
        position: absolute;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.73);
        color: #fbd34b;
        font-family: "Open Sans";
        font-size: 71px;
        font-weight: 700;
        height: 56px;
        line-height: 56px;
        text-transform: uppercase;
        top: 0;
        left: -25px; }
      .problems .caption p:first-of-type::before {
        content: '';
        position: absolute;
        width: 50px;
        right: -12px;
        top: 0;
        height: 56px;
        -webkit-transform: skew(-16deg);
                transform: skew(-16deg);
        background: #fbd34b;
        z-index: -1; }
    .problems .caption p:last-of-type {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
      color: #ffffff;
      font-size: 36px;
      margin-bottom: 0; }
  .problems .line-1 p:first-child {
    margin-left: 8.7%; }
  .problems .line-2 p:first-child {
    margin-left: 2.3%; }
  .problems .line-1 p:last-child {
    margin-right: -11.5%; }
  .problems .line-2 p:last-child {
    margin-right: -4%; }
  .problems .line-3 p:first-child {
    margin-left: -2%; }
  .problems .line-1,
  .problems .line-2,
  .problems .line-3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between; }
    .problems .line-1 p,
    .problems .line-2 p,
    .problems .line-3 p {
      position: relative;
      width: 35%;
      margin-bottom: 0; }
      .problems .line-1 p:first-of-type,
      .problems .line-2 p:first-of-type,
      .problems .line-3 p:first-of-type {
        line-height: 23.83px;
        background-color: #e5e0dc;
        height: 70px;
        padding-left: 50px;
        display: flex;
        align-items: center;
        z-index: 1;
        -webkit-transform: translateX(27%);
                transform: translateX(27%); }
        .problems .line-1 p:first-of-type::after,
        .problems .line-2 p:first-of-type::after,
        .problems .line-3 p:first-of-type::after {
          content: '';
          position: absolute;
          width: 87px;
          height: 87px;
          background-image: url("../../img/3problem-no.png");
          left: -50px;
          top: -9px; }
        .problems .line-1 p:first-of-type::before,
        .problems .line-2 p:first-of-type::before,
        .problems .line-3 p:first-of-type::before {
          content: '';
          position: absolute;
          width: 50px;
          right: -12px;
          height: 70px;
          -webkit-transform: skew(-16deg);
                  transform: skew(-16deg);
          background: #e5e0dc;
          z-index: -1; }
      .problems .line-1 p:last-of-type,
      .problems .line-2 p:last-of-type,
      .problems .line-3 p:last-of-type {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        color: #ffffff;
        line-height: 23.77px;
        padding-left: 55px;
        margin-bottom: 75px;
        -webkit-transform: translateX(-175px);
                transform: translateX(-175px); }
        .problems .line-1 p:last-of-type::after,
        .problems .line-2 p:last-of-type::after,
        .problems .line-3 p:last-of-type::after {
          content: '';
          position: absolute;
          width: 35px;
          height: 35px;
          background-image: url("../../img/3-problem-yes.png");
          left: 0;
          top: 0; }
  @media (max-width: 1200px) {
    .problems .line-1 p:first-child {
      margin-left: 7%; }
    .problems .line-2 p:first-child {
      margin-left: 2%; }
    .problems .line-3 p:first-child {
      margin-left: -4%; }
    .problems .line-1 p:last-child {
      margin-right: -14.5%; }
    .problems .line-2 p:last-child {
      margin-right: -9%; }
    .problems .line-3 p:last-child {
      margin-right: -3.5%; } }
  @media (max-width: 992px) {
    .problems .caption {
      margin-bottom: 70px; }
    .problems .line-1,
    .problems .line-2,
    .problems .line-3 {
      font-size: 14px; }
    .problems .line-1 p:first-child {
      margin-left: 8.5%; }
    .problems .line-2 p:first-child {
      margin-left: 1.5%; }
    .problems .line-3 p:first-child {
      margin-left: -6%; }
    .problems .line-1 p:last-child {
      margin-right: -20%; }
    .problems .line-2 p:last-child {
      margin-right: -15%; }
    .problems .line-3 p:last-child {
      margin-right: -10%; } }
  @media (max-width: 768px) {
    .problems {
      background-size: 100% 100%; }
      .problems .line-1 p:first-child {
        margin-left: 10%; }
      .problems .line-2 p:first-child {
        margin-left: 0%; }
      .problems .line-3 p:first-child {
        margin-left: -15%; }
      .problems .line-1 p:last-child {
        margin-right: -20%; }
      .problems .line-2 p:last-child {
        margin-right: -10%; }
      .problems .line-3 p:last-child {
        margin-right: 0%; }
      .problems .line-1,
      .problems .line-2,
      .problems .line-3 {
        font-size: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .problems .line-1 p:first-of-type,
        .problems .line-2 p:first-of-type,
        .problems .line-3 p:first-of-type {
          margin-bottom: 10px;
          -webkit-transform: translate(25%);
                  transform: translate(25%);
          width: 100%;
          padding-right: 118px; }
          .problems .line-1 p:first-of-type::before,
          .problems .line-2 p:first-of-type::before,
          .problems .line-3 p:first-of-type::before {
            display: none; }
        .problems .line-1 p:last-of-type,
        .problems .line-2 p:last-of-type,
        .problems .line-3 p:last-of-type {
          -webkit-transform: translate(0%);
                  transform: translate(0%);
          width: 60%; } }
  @media (max-width: 576px) {
    .problems {
      background-image: none; }
      .problems .caption p:first-of-type {
        background-size: 100% 100%; }
      .problems .line-1 p,
      .problems .line-2 p,
      .problems .line-3 p {
        width: auto;
        font-size: 14px; }
        .problems .line-1 p:first-of-type,
        .problems .line-2 p:first-of-type,
        .problems .line-3 p:first-of-type {
          margin-left: 90px;
          margin-bottom: 10px;
          -webkit-transform: translate(0);
                  transform: translate(0);
          width: 100%;
          padding-right: 45px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34); }
          .problems .line-1 p:first-of-type::before,
          .problems .line-2 p:first-of-type::before,
          .problems .line-3 p:first-of-type::before {
            display: none; }
        .problems .line-1 p:last-of-type,
        .problems .line-2 p:last-of-type,
        .problems .line-3 p:last-of-type {
          -webkit-transform: translate(0%);
                  transform: translate(0%);
          font-size: 18px;
          width: 50%;
          margin-right: 0;
          padding: 0; }
          .problems .line-1 p:last-of-type::after,
          .problems .line-2 p:last-of-type::after,
          .problems .line-3 p:last-of-type::after {
            left: -40px; } }

.numerals {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 50px; }
  .numerals .caption {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #fbd34b;
    position: relative; }
    .numerals .caption::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 50px;
      background: #292727;
      bottom: 0;
      left: 0; }
    .numerals .caption span {
      font-size: 20px; }
    .numerals .caption h2 {
      font-size: 36px; }
  .numerals ul {
    font-family: "Open Sans";
    margin-bottom: 50px;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .numerals ul li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-basis: 20%;
      align-items: center;
      position: relative;
      padding: 0 15px;
      padding-top: 50px; }
      .numerals ul li::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 60px;
        top: -80px;
        background-repeat: no-repeat;
        background-position: center; }
      .numerals ul li:nth-child(1)::before {
        background-image: url("./../../img/numerals-item-1.png"); }
      .numerals ul li:nth-child(2)::before {
        background-image: url("./../../img/numerals-item-2.png"); }
      .numerals ul li:nth-child(3)::before {
        background-image: url("./../../img/numerals-item-3.png"); }
      .numerals ul li:nth-child(4)::before {
        background-image: url("./../../img/numerals-item-4.png"); }
      .numerals ul li:nth-child(5)::before {
        background-image: url("./../../img/numerals-item-5.png"); }
      .numerals ul li p {
        margin-bottom: 0;
        font-size: 14px;
        color: #797878;
        text-align: center; }
        .numerals ul li p:first-of-type {
          margin-bottom: 15px;
          min-height: 60px; }
        .numerals ul li p:last-of-type {
          text-transform: lowercase;
          margin-top: 5px; }
      .numerals ul li strong {
        font-size: 72px;
        line-height: 24.05px;
        margin-bottom: 30px; }
  .numerals button {
    background-color: #ffc500;
    background-color: #ffc500;
    min-height: 55px;
    color: #292727;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold; }
    .numerals button:hover {
      background-color: #f3b200;
      color: black; }
    .numerals button:active {
      background-color: #ffc500;
      color: #292727; }
  @media (max-width: 1200px) {
    .numerals ul li p:first-of-type {
      margin-bottom: 30px; } }
  @media (max-width: 992px) {
    .numerals .container {
      max-width: 100%; }
    .numerals ul {
      padding-left: 15px;
      padding-right: 15px; }
      .numerals ul li {
        padding-left: 0;
        padding-right: 0; } }
  @media (max-width: 768px) {
    .numerals .container {
      max-width: 540px; }
    .numerals .caption {
      padding-bottom: 50px; }
      .numerals .caption::after {
        display: none; }
    .numerals ul {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
      padding-right: 0; }
      .numerals ul li {
        padding-left: 15px;
        padding-right: 15px; }
        .numerals ul li::before {
          display: none; } }
  @media (max-width: 576px) {
    .numerals button {
      white-space: normal; } }

.virt-tour {
  padding: 50px 0;
  background-color: #f4f3f3;
  position: relative; }
  .virt-tour .left-side {
    border-top: 50px solid #fbd34b;
    border-left: 50px solid #fbd34b;
    border-bottom: 50px solid #fbd34b; }
  .virt-tour .caption {
    display: inline-block;
    font-weight: bold;
    margin-top: -50px;
    background: #f4f3f3;
    padding: 0 20px;
    margin-left: 40px; }
    .virt-tour .caption p {
      font-size: 20px;
      margin-bottom: 0; }
    .virt-tour .caption p:first-child {
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: 0; }
    .virt-tour .caption p:nth-child(2) {
      color: #f3b200;
      font-weight: bold;
      text-transform: uppercase; }
  .virt-tour ul {
    padding: 15px;
    margin-bottom: 0;
    list-style: none;
    font-size: 18px; }
    .virt-tour ul li {
      padding-left: 99px;
      position: relative;
      margin-bottom: 50px; }
      .virt-tour ul li:last-child {
        margin-bottom: 0; }
      .virt-tour ul li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 84px;
        height: 84px;
        background-color: #f3b200;
        background-repeat: no-repeat;
        background-position: center; }
      .virt-tour ul li:first-child::before {
        background-image: url("../../img/virt-tour-item-1.png"); }
      .virt-tour ul li:nth-child(2):before {
        background-image: url("../../img/virt-tour-item-2.png"); }
      .virt-tour ul li:last-child::before {
        background-image: url("../../img/virt-tour-item-3.png"); }
      .virt-tour ul li strong {
        font-weight: bold; }
      .virt-tour ul li p {
        color: #757f8f;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 2px; }
  .virt-tour .player-1 {
    position: absolute;
    font-size: 0;
    padding: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%; }
  .virt-tour .player__video {
    -o-object-fit: inherit;
       object-fit: inherit;
    cursor: pointer;
    height: 100%; }
  .virt-tour .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px; }
  .virt-tour .player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(100%) translateY(-5px);
            transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    background: rgba(0, 0, 0, 0.1); }
  .virt-tour .player-1:hover .player__controls {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .virt-tour .player-1:hover .progress-1 {
    height: 15px; }
  .virt-tour .progress-1 {
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize; }
  .virt-tour .progress__filled-1 {
    background: #fbd34b; }
  @media (max-width: 992px) {
    .virt-tour .player-1 {
      position: relative;
      height: 100%;
      width: 100%; }
    .virt-tour .caption {
      margin-left: 0;
      margin-bottom: 70px; }
    .virt-tour .left-side {
      border-right: solid #fbd34b;
      border-width: 25px;
      border-bottom: none;
      text-align: center; }
    .virt-tour ul {
      text-align: left; }
      .virt-tour ul li:last-of-type {
        margin-bottom: 50px; } }
  @media (max-width: 576px) {
    .virt-tour .left-side {
      border: none; }
    .virt-tour .caption {
      padding-top: 50px; } }

.photo-production {
  background-image: url("../../img/photo-production.jpg");
  background-repeat: no-repeat;
  background-size: 100% 70%;
  padding-top: 50px;
  padding-bottom: 75px; }
  .photo-production .caption {
    margin-bottom: 0; }
    .photo-production .caption span {
      display: block;
      font-weight: bold;
      text-transform: uppercase; }
      .photo-production .caption span:first-of-type {
        color: #ffffff;
        font-size: 36px;
        margin-bottom: 3px; }
      .photo-production .caption span:last-of-type {
        color: #fbd34b;
        font-size: 24px; }
  .photo-production .carousel_wrap {
    margin-top: 125px;
    position: relative; }
  .photo-production #waterwheel {
    width: 90%;
    margin: 0px auto;
    height: 350px;
    position: relative; }
    .photo-production #waterwheel::before {
      content: '';
      position: absolute;
      width: 370px;
      height: 390px;
      border: 25px solid #fbd34b;
      top: -20px;
      left: 50%;
      margin-left: -185px;
      z-index: 99; }
    .photo-production #waterwheel:hover::before {
      border-color: #f3b200; }
  .photo-production .nav_button {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 40px;
    right: 0px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    background: #fbd34b;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    z-index: 99; }
    .photo-production .nav_button:hover {
      background: #f3b200; }
    .photo-production .nav_button:active {
      background: #fbd34b; }
  .photo-production .nav_button.prev_button {
    left: 25%; }
  .photo-production .nav_button.next_button {
    left: auto;
    right: 25%; }
  @media (max-width: 1200px) {
    .photo-production .nav_button.prev_button {
      left: 20%; }
    .photo-production .nav_button.next_button {
      left: auto;
      right: 20%; } }
  @media (max-width: 992px) {
    .photo-production .carousel_wrap {
      margin-top: 95px;
      position: relative; }
    .photo-production .nav_button.prev_button {
      left: 15%; }
    .photo-production .nav_button.next_button {
      left: auto;
      right: 15%; } }
  @media (max-width: 768px) {
    .photo-production .nav_button.prev_button {
      left: auto;
      left: 1%; }
    .photo-production .nav_button.next_button {
      left: auto;
      right: 1%; } }
  @media (max-width: 576px) {
    .photo-production #waterwheel::before {
      border: none; }
    .photo-production .nav_button.prev_button {
      left: auto;
      left: 0%;
      top: 105%; }
    .photo-production .nav_button.next_button {
      left: auto;
      right: 0%;
      top: 105%; } }

.video-production {
  padding: 50px 0;
  background-image: url("../../img/video-production.jpg"); }
  .video-production .row {
    flex-wrap: nowrap; }
  .video-production .caption {
    border: 50px solid #fbd34b;
    margin-bottom: 100px;
    padding-left: 40px;
    padding-top: 120px; }
    .video-production .caption span {
      font-weight: bold;
      text-transform: uppercase;
      display: block; }
      .video-production .caption span:first-of-type {
        color: #ffffff;
        font-size: 36px; }
      .video-production .caption span:last-of-type {
        color: #fbd34b;
        font-size: 24px; }
  .video-production .player-2 {
    -webkit-transform: translateX(-160px);
            transform: translateX(-160px);
    position: relative;
    font-size: 0;
    border: 50px solid #fbd34b;
    margin-top: 100px;
    padding: 0; }
  .video-production .player__video {
    -o-object-fit: inherit;
       object-fit: inherit;
    cursor: pointer; }
  .video-production .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px; }
  .video-production .player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(100%) translateY(-5px);
            transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    background: rgba(0, 0, 0, 0.1); }
  .video-production .player-2:hover .player__controls {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .video-production .player-2:hover .progress-2 {
    height: 15px; }
  .video-production .progress-2 {
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize; }
  .video-production .progress__filled-2 {
    width: 50%;
    background: #292727;
    flex: 0;
    flex-basis: 50%; }
  @media (max-width: 1200px) {
    .video-production .player-2 {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px); } }
  @media (max-width: 992px) {
    .video-production .caption {
      padding: 0;
      border: none;
      text-align: center;
      margin-bottom: 70px; }
    .video-production .player-2 {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      margin-top: 0; } }
  @media (max-width: 768px) {
    .video-production .player-2 {
      border-width: 25px; } }

.principles {
  padding: 50px 0;
  background-image: url("./../../img/principles-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .principles::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0px;
    right: -10%;
    -webkit-transform: skew(-16deg);
            transform: skew(-16deg);
    background: rgba(0, 0, 0, 0.5);
    background-position: right; }
  .principles .caption {
    margin-bottom: 100px;
    text-align: right; }
    .principles .caption p {
      text-transform: uppercase; }
      .principles .caption p:first-of-type {
        color: #fbd34b;
        font-size: 36px;
        font-weight: bold; }
      .principles .caption p:last-of-type {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0; }
  .principles ul {
    margin-bottom: 0; }
    .principles ul li {
      display: flex;
      justify-content: flex-end;
      height: 131px; }
      .principles ul li p:first-of-type {
        position: relative;
        height: 52px;
        background-color: #fbd34b;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: end;
        background-position: center;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 1;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px; }
        .principles ul li p:first-of-type::before {
          content: '';
          position: absolute;
          width: 50px;
          right: -12px;
          height: 52px;
          -webkit-transform: skew(-16deg);
                  transform: skew(-16deg);
          background: #fbd34b;
          z-index: -1; }
        .principles ul li p:first-of-type::after {
          position: absolute;
          text-shadow: 0 0 6px rgba(0, 0, 0, 0.73);
          color: #fbd34b;
          font-family: 'Open Sans';
          font-size: 71px;
          font-weight: 700;
          height: 51px;
          text-transform: uppercase;
          top: 0;
          left: -25px;
          line-height: 51px; }
      .principles ul li p:last-of-type {
        margin-left: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.91px;
        color: #ffffff;
        flex-basis: 45%;
        margin-left: 40px; }
    .principles ul .left-1 {
      flex-basis: 40%; }
      .principles ul .left-1::after {
        content: '1'; }
    .principles ul .left-2 {
      flex-basis: 45%; }
      .principles ul .left-2::after {
        content: '2'; }
    .principles ul .left-3 {
      flex-basis: 47%; }
      .principles ul .left-3::after {
        content: '3'; }
  @media (max-width: 1679px) {
    .principles::before {
      width: 77%; } }
  @media (max-width: 1200px) {
    .principles::before {
      width: 83%; } }
  @media (max-width: 992px) {
    .principles .caption {
      margin-bottom: 70px; }
    .principles::before {
      width: 90%; } }
  @media (max-width: 768px) {
    .principles::before {
      width: 190%;
      right: -40%; }
    .principles .caption {
      text-align: center; }
    .principles ul li {
      margin-bottom: 50px;
      height: auto; }
      .principles ul li:last-child {
        margin-bottom: 0; }
      .principles ul li p:first-of-type {
        height: 60px; }
        .principles ul li p:first-of-type::before {
          height: 60px; }
        .principles ul li p:first-of-type::after {
          height: 60px;
          line-height: 60px; }
    .principles ul .left-1,
    .principles ul .left-2,
    .principles ul .left-3 {
      flex-basis: 48%; } }
  @media (max-width: 576px) {
    .principles ul li {
      flex-wrap: wrap;
      justify-content: center; }
      .principles ul li:last-child {
        margin-bottom: 0; }
      .principles ul li p {
        margin-bottom: 0; }
      .principles ul li p:first-of-type {
        flex-basis: 80%; }
      .principles ul li p:last-of-type {
        flex-basis: 80%; }
    .principles ul .left-1,
    .principles ul .left-2,
    .principles ul .left-3 {
      flex-basis: 48%; } }

.guarantee {
  padding: 50px 0;
  background-image: url("./../../img/guarantee-back.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-transform: uppercase; }
  .guarantee .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 50px solid #fbd34b;
    border-right: 50px solid #fbd34b;
    border-bottom: 50px solid #fbd34b; }
  .guarantee .caption {
    font-weight: bold;
    margin-top: -50px;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-left: 30px; }
    .guarantee .caption::before {
      content: '';
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      background-color: white; }
    .guarantee .caption p:first-of-type {
      color: #292727;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 0; }
    .guarantee .caption p:last-of-type {
      color: #f3b200;
      font-size: 20px;
      font-weight: 500; }
  .guarantee ul {
    padding-left: 30px; }
    .guarantee ul li {
      font-weight: 500; }
    .guarantee ul strong {
      font-family: 'Open Sans';
      font-size: 60px;
      font-weight: bold;
      padding-right: 5px; }
  @media (max-width: 992px) {
    .guarantee {
      background-size: cover; }
      .guarantee .right-side {
        padding-left: 0;
        padding-right: 0; }
      .guarantee .caption {
        padding-left: 5px; }
      .guarantee ul {
        padding-left: 0; }
        .guarantee ul strong {
          font-size: 50px; } }
  @media (max-width: 768px) {
    .guarantee {
      background: none; }
      .guarantee .caption {
        margin-top: -25px;
        text-align: center; }
      .guarantee .right-side {
        border-left: 50px solid #fbd34b;
        border-width: 25px; } }
  @media (max-width: 576px) {
    .guarantee .caption {
      margin-top: 1rem; }
    .guarantee .right-side {
      margin-left: 15px;
      margin-right: 15px; }
    .guarantee ul li {
      margin-bottom: 10px;
      font-size: 12px; }
      .guarantee ul li strong {
        font-size: 45px; } }

.type-tents {
  padding: 50px 0;
  background-image: url("../../img/type-tents.back.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; }
  .type-tents .caption p {
    text-transform: uppercase; }
    .type-tents .caption p:first-of-type {
      color: #202e45;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase; }
    .type-tents .caption p:last-of-type {
      font-size: 20px;
      font-weight: 500;
      color: #292727; }
  .type-tents .spacing {
    margin-top: 30px; }
  .type-tents .left-side {
    flex-direction: column;
    justify-content: space-between; }
  .type-tents .item {
    position: relative; }
    .type-tents .item img {
      border: 10px solid #fbd34b; }
    .type-tents .item .content-img {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .type-tents .item .content-img span {
        font-size: 18px;
        margin-top: 20px;
        font-weight: 600;
        text-transform: uppercase; }
  .type-tents button {
    width: 150px;
    color: #ffffff;
    background: #292727;
    font-size: 16px;
    line-height: 26px;
    min-height: 55px;
    font-weight: 500;
    text-transform: uppercase; }
    .type-tents button:hover {
      color: #f3b200;
      background: black; }
    .type-tents button:active {
      color: #ffffff;
      background: #292727; }
  .type-tents .under {
    margin-top: 60px;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .type-tents .under p {
      margin-bottom: 0; }
      .type-tents .under p:first-of-type {
        font-weight: bold;
        text-transform: uppercase; }
      .type-tents .under p:last-of-type {
        font-weight: 500; }
        .type-tents .under p:last-of-type strong {
          text-transform: uppercase;
          color: #f3b200; }
    .type-tents .under button {
      margin-left: 5px;
      width: 360px;
      min-height: 55px;
      color: #fbd34b;
      font-weight: 400;
      text-transform: uppercase;
      background: #292727; }
      .type-tents .under button:hover {
        color: #f3b200;
        background: black; }
      .type-tents .under button:active {
        color: #fbd34b;
        background: #292727; }
  @media (max-width: 1200px) {
    .type-tents .left-side {
      flex-direction: column;
      justify-content: space-between; } }
  @media (max-width: 992px) {
    .type-tents {
      background: none; }
      .type-tents .left-side {
        flex-direction: row;
        padding-left: 15px;
        margin-bottom: 30px; }
      .type-tents .right-side {
        padding-right: 15px; } }
  @media (max-width: 768px) {
    .type-tents .under {
      flex-direction: column;
      align-items: center; }
      .type-tents .under button {
        margin-left: 0;
        margin-top: 5px; }
    .type-tents .left-side,
    .type-tents .right-side {
      padding-left: 0;
      padding-right: 0; }
    .type-tents .caption {
      flex-basis: 260px; } }
  @media (max-width: 576px) {
    .type-tents .caption {
      flex-basis: auto;
      margin-bottom: 70px; }
    .type-tents .left-side,
    .type-tents .right-side {
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px; }
      .type-tents .left-side .item:first-child,
      .type-tents .right-side .item:first-child {
        margin-bottom: 30px; }
    .type-tents .under button {
      width: 100%;
      white-space: normal; } }

.standing {
  padding: 50px 0;
  background-image: url("../../img/standing-romb.png"), url("../../img/standing-back.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0, left;
  background-size: 20% 55%, 50% 100%;
  background-color: #f4f3f3; }
  .standing .caption {
    margin-bottom: 100px;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    background-repeat: no-repeat;
    background-size: contain; }
    .standing .caption span {
      display: block;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .standing .caption p:first-of-type {
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .standing .caption p:last-of-type {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0; }
  .standing .carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: 0; }
    .standing .carousel .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #c6c6c6; }
      .standing .carousel .carousel-indicators li.active {
        background-color: #fbd34b; }
  @media (max-width: 1200px) {
    .standing {
      background-size: 25% 50%, 50% 100%; } }
  @media (max-width: 992px) {
    .standing {
      background-size: 27% 51%, 50% 100%; }
      .standing .caption {
        margin-bottom: 70px;
        -webkit-transform: translateX(-3%);
                transform: translateX(-3%); }
        .standing .caption span {
          margin-bottom: 0; }
        .standing .caption p:first-of-type {
          margin-bottom: 10px; } }
  @media (max-width: 768px) {
    .standing {
      background-image: none; }
      .standing .caption {
        -webkit-transform: translate(0);
                transform: translate(0);
        text-align: center; } }
  @media (max-width: 576px) {
    .standing .carousel-item > div {
      flex-direction: column;
      align-items: center; } }

.example-photo {
  padding-top: 50px;
  padding-bottom: 70px; }
  .example-photo .caption {
    margin-bottom: 100px; }
    .example-photo .caption p {
      margin-bottom: 0;
      text-transform: uppercase; }
      .example-photo .caption p:first-of-type {
        color: #f3b200;
        font-size: 20px;
        font-weight: 500; }
      .example-photo .caption p:nth-child(2) {
        font-size: 36px;
        font-weight: bold; }
      .example-photo .caption p:last-of-type {
        font-size: 20px;
        font-weight: 500; }
  .example-photo .carousel {
    z-index: 1; }
    .example-photo .carousel::after {
      content: '';
      position: absolute;
      width: 140px;
      height: 140px;
      border: 20px solid #fbd34b;
      bottom: -40px;
      left: -25px;
      z-index: -1; }
    .example-photo .carousel::before {
      content: '';
      position: absolute;
      width: 220px;
      height: 220px;
      border: 20px solid #fbd34b;
      top: -40px;
      right: -25px;
      z-index: -1; }
    .example-photo .carousel .carousel-indicators {
      margin-bottom: 0;
      bottom: -20px; }
      .example-photo .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c6c6c6; }
        .example-photo .carousel .carousel-indicators li.active {
          background-color: #fbd34b; }
    .example-photo .carousel .image-block {
      padding: 0 15px; }
  @media (max-width: 1200px) {
    .example-photo .carousel::after {
      bottom: -30px;
      left: -15px; }
    .example-photo .carousel::before {
      top: -30px;
      right: -15px; } }
  @media (max-width: 992px) {
    .example-photo .caption {
      margin-bottom: 70px; }
    .example-photo .carousel::after {
      width: 100px;
      height: 100px;
      bottom: -30px;
      left: -15px; }
    .example-photo .carousel::before {
      width: 180px;
      height: 180px;
      top: -30px;
      right: -15px; } }
  @media (max-width: 768px) {
    .example-photo .caption {
      padding: 0 15px; }
    .example-photo .carousel::after {
      display: none; }
    .example-photo .carousel::before {
      display: none; } }
  @media (max-width: 576px) {
    .example-photo .carousel-item > div {
      flex-direction: column;
      align-items: center; }
    .example-photo .image-block {
      margin-bottom: 15px; }
      .example-photo .image-block:last-child {
        margin-bottom: 0; } }

.reviews {
  background-image: url("./../../img/reviews-back.jpg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .reviews::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;
    top: 0;
    right: 0; }
  .reviews .caption {
    position: relative;
    z-index: 2;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
    .reviews .caption::before {
      content: '';
      position: absolute;
      top: 0;
      left: 25%;
      height: 15%;
      width: 70px;
      background-color: #fbd34b;
      z-index: -1; }
    .reviews .caption::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 25%;
      height: 67%;
      width: 70px;
      background-color: #fbd34b;
      z-index: -1; }
    .reviews .caption p {
      text-transform: uppercase;
      margin-bottom: 0; }
      .reviews .caption p:first-of-type {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500; }
      .reviews .caption p:nth-child(2) {
        font-size: 36px;
        font-weight: bold; }
      .reviews .caption p:last-of-type {
        font-size: 20px;
        font-weight: 400; }
  .reviews .carousel {
    padding-bottom: 40px;
    margin-bottom: 50px; }
    .reviews .carousel .carousel-item {
      padding-top: 100px; }
      .reviews .carousel .carousel-item img {
        border-radius: 50%;
        margin-bottom: 15px; }
      .reviews .carousel .carousel-item .text-block {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 15px;
        width: 50%; }
      .reviews .carousel .carousel-item .sigh {
        color: #fbd34b;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0; }
    .reviews .carousel .carousel-indicators {
      bottom: -0;
      margin-bottom: 0; }
      .reviews .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c6c6c6; }
        .reviews .carousel .carousel-indicators li.active {
          background-color: #fbd34b; }
  @media (max-width: 992px) {
    .reviews::before {
      width: 55%; }
    .reviews .caption::after {
      height: 62%; }
    .reviews .carousel .carousel-item .text-block {
      width: 70%; } }
  @media (max-width: 768px) {
    .reviews::before {
      width: 100%;
      height: 70%;
      top: auto;
      bottom: 0; }
    .reviews .caption {
      text-align: center;
      padding-top: 50px; }
      .reviews .caption::before {
        display: none; }
      .reviews .caption::after {
        display: none; }
    .reviews .carousel .carousel-item .text-block {
      width: 90%; } }

.example-video {
  padding: 50px 0;
  background-image: url("../../img/example-video-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .example-video .caption {
    margin-bottom: 100px; }
    .example-video .caption p {
      text-transform: uppercase; }
      .example-video .caption p:first-of-type {
        font-size: 36px;
        font-weight: bold; }
      .example-video .caption p:last-of-type {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0; }
  .example-video .gallery-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #202e45;
    font-family: "Open Sans"; }
    .example-video .gallery-items h3 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 15px; }
    .example-video .gallery-items p {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 0; }
    .example-video .gallery-items img {
      -o-object-fit: cover;
         object-fit: cover; }
  @media (max-width: 992px) {
    .example-video .caption {
      margin-bottom: 70px; } }
  @media (max-width: 576px) {
    .example-video {
      background: none; }
      .example-video .gallery-items {
        margin-bottom: 15px;
        width: 90%;
        text-align: center;
        padding: 0; } }

.feedback {
  padding: 80px 0;
  background-image: url("../../img/feedback-back.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover; }
  .feedback .caption {
    margin-bottom: 100px; }
    .feedback .caption p {
      color: #ffffff;
      text-transform: uppercase; }
      .feedback .caption p:first-of-type {
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase; }
      .feedback .caption p:last-of-type {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0; }
  .feedback .text-block {
    color: #fbd34b;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 100px; }
  .feedback button {
    width: 40%;
    white-space: normal;
    background-color: #ffc500;
    min-height: 55px;
    color: #292727;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold; }
    .feedback button:hover {
      background-color: #f3b200;
      color: black; }
    .feedback button:active {
      background-color: #ffc500;
      color: #292727; }
  @media (max-width: 992px) {
    .feedback .caption {
      margin-bottom: 70px; }
    .feedback .text-block {
      margin-bottom: 70px; } }
  @media (max-width: 768px) {
    .feedback button {
      width: 85%; } }
  @media (max-width: 576px) {
    .feedback {
      padding: 50px 15px; } }

footer {
  padding: 30px 0;
  background-color: #2a2c30; }
  footer .privacy-policy {
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 25.89px;
    color: #9aa2b2;
    letter-spacing: 0.32px;
    border-bottom: 1px dotted #9aa2b2;
    cursor: pointer; }
    footer .privacy-policy:hover {
      border-bottom: none;
      padding-bottom: 1px; }
    footer .privacy-policy:active {
      border-bottom: 1px dotted #9aa2b2; }
  footer .copyright {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 25.89px;
    letter-spacing: 0.32px;
    margin-bottom: 0; }
    footer .copyright p {
      margin-bottom: 0; }
    footer .copyright img {
      padding-left: 10px;
      vertical-align: middle; }
  footer .phone {
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 300;
    line-height: 26.04px;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap; }
    footer .phone:hover {
      opacity: 0.8; }
    footer .phone:active {
      opacity: 1; }
  footer .request {
    color: #fbd34b;
    font-weight: 500;
    line-height: 26.04px;
    letter-spacing: 0.35px;
    border-bottom: 1px dotted #fbd34b;
    margin-bottom: 10px;
    text-align: end;
    cursor: pointer; }
    footer .request:hover {
      border-bottom: none;
      color: #f3b200;
      padding-bottom: 1px; }
    footer .request:active {
      opacity: 1;
      color: #fbd34b; }
  footer .footnote {
    color: #ffffff;
    opacity: 0.9;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px; }
  @media (max-width: 992px) {
    footer .copyright {
      margin-top: 15px; } }
