.advantages {
	padding: 50px 0;
	background-image: url('../../img/advantages-background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.caption {
		text-transform: uppercase;
		h2 {
			font-size: 30px;
			font-weight: bold;
		}
		p {
			color: $yellow-darker;
			font-size: 20px;
			font-weight: 500;
		}
	}
	.official-coop,
	.full-equip {
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
		text-transform: uppercase;
		width: 240px;
		height: 240px;
		text-align: center;
		border: 10px solid $yellow-lighter;
	}
	.text-block {
		width: 260px;
		height: 260px;
		font-size: 16px;
		font-weight: 500;
		padding: 0 20px;
	}
}