.advantages {
	padding: 50px 0;
	background-image: url('../../img/advantages-background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.caption {
		text-transform: uppercase;
		margin-left: auto;
		h2 {
			font-size: 30px;
			font-weight: bold;
		}
		p {
			color: $yellow-darker;
			font-size: 20px;
			font-weight: 500;
		}
	}
	.image-block {
		position: relative;
		p {
			color: $white;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
		}
	}
	.text-block {
		width: 260px;
		height: 260px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		padding: 0 20px;
		background: $white;
	}
	.official-coop,
	.full-equip {
		position: relative;
		padding: 0;
		font-weight: bold;
		line-height: 20px;
		text-transform: uppercase;
		border: 10px solid $yellow-lighter;
	}
	.official-coop {
		&::after {
			content: '';
			margin-left: 50%;
			left: -20px;
			position: absolute;
			bottom: -50px;
			border: 20px solid transparent;
			border-top: 20px solid $yellow-lighter;
		}
		p {
			padding-bottom: 103px;
			position: relative;
			margin: 0;
			&::before {
				content: '';
				background-image: url('../../img/contract.png');
				width: 83px;
				height: 75px;
				bottom: 0;
				left: 83px;
				background-repeat: no-repeat;
				position: absolute;
			}
		}
	}
	.full-equip {
		&::after {
			content: '';
			margin-left: 50%;
			left: -20px;
			position: absolute;
			top: -50px;
			border: 20px solid transparent;
			border-bottom: 20px solid $yellow-lighter;
		}
		p {
			padding-top: 122.99px;
			position: relative;
			margin: 0;
			&::before {
				content: '';
				background-image: url('../../img/key.png');
				width: 82px;
				height: 97px;
				top: 0;
				left: 82px;
				background-repeat: no-repeat;
				position: absolute;
			}
		}
	}
}