.example-video {
	padding: 50px 0;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: -30%;
		right: -25%;
		width: 50%;
		height: 140%;
		transform: rotate(-215deg);
		border: 40px solid $yellow-lighter;
		z-index: -1;
	}
	.caption {
		margin-bottom: 100px;
		p {
			text-transform: uppercase;
			&:first-of-type {
				font-size: 36px;
				font-weight: bold;
			}
			&:last-of-type {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 0;
			}
		}
	}
	.gallery-items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #202e45;
		font-family: "Open Sans";
		h3 {
			font-size: 16px;
			font-weight: 700;
			margin-top: 15px;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 0;
		}
		img {
			object-fit: cover;
		}
	}
	@media (max-width: 1200px) {
		&::after {
			top: -8%;
			right: -28%;
		}
	}
	@media (max-width: 992px) {
		.caption {
			margin-bottom: 70px;
		}
		&::after {
			top: -8%;
			right: -35%;
		}
	}
	@media (max-width: 768px) {
		&::after {
			right: -45%;
			width: 65%;
		}
	}
	@media (max-width: 576px) {
		&::after {
			left: 550px;
			width: 500px;
			top: -20%;
		}
		.gallery-items {
			margin-bottom: 15px;
			width: 90%;
			text-align: center;
			padding: 0;
		}
	}
}