.example-photo {
	padding-top: 50px;
	padding-bottom: 70px;
	background-image: url('../../img/example-photo-back.png');
	background-repeat: no-repeat;
	background-position: center;
	.caption {
		margin-bottom: 50px;
		p {
			margin-bottom: 0;
			text-transform: uppercase;
			&:first-of-type {
				color: $yellow-darker;
				font-size: 20px;
				font-weight: 500;
			}
			&:nth-child(2) {
				font-size: 36px;
				font-weight: bold;
			}
			&:last-of-type {
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	.carousel {
		.carousel-indicators {
			margin-bottom: 0;
			bottom: -20px;
			@include carousel-indicators;
		}
	}
}