.example-photo {
	padding-top: 50px;
	padding-bottom: 70px;
	.caption {
		margin-bottom: 100px;
		p {
			margin-bottom: 0;
			text-transform: uppercase;
			&:first-of-type {
				color: $yellow-darker;
				font-size: 20px;
				font-weight: 500;
			}
			&:nth-child(2) {
				font-size: 36px;
				font-weight: bold;
			}
			&:last-of-type {
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	.carousel {
		z-index: 1;
		&::after {
			content: '';
			position: absolute;
			width: 140px;
			height: 140px;
			border: 20px solid $yellow-lighter;
			bottom: -40px;
			left: -25px;
			z-index: -1;
		}
		&::before {
			content: '';
			position: absolute;
			width: 220px;
			height: 220px;
			border: 20px solid $yellow-lighter;
			top: -40px;
			right: -25px;
			z-index: -1;
		}
		.carousel-indicators {
			margin-bottom: 0;
			bottom: -20px;
			@include carousel-indicators;
		}
		.image-block {
			padding: 0 15px;
		}
	}
	@media (max-width: 1200px) {
		.carousel {
			&::after {
				bottom: -30px;
				left: -15px;
			}
			&::before {
				top: -30px;
				right: -15px;
			}
		}
	}
	@media (max-width: 992px) {
		.caption {
			margin-bottom: 70px;
		}
		.carousel {
			&::after {
				width: 100px;
				height: 100px;
				bottom: -30px;
				left: -15px;
			}
			&::before {
				width: 180px;
				height: 180px;
				top: -30px;
				right: -15px;
			}
		}
	}
	@media (max-width: 768px) {
		.caption {
			padding: 0 15px;
		}
		.carousel {
			&::after {
				width: 60px;
				height: 60px;
				border-width: 10px;
			}
			&::before {
				width: 100px;
				height: 100px;
				border-width: 10px;
			}
		}
	}
	@media (max-width: 576px) {
		.carousel-item>div {
			flex-direction: column;
			align-items: center;
		}
		.carousel .image-block {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.carousel {
		&::after {
			display: none;
		}
		&::before {
			display: none;
		}
	}
}