.first-screen {
	background-image: url('../../img/first-back.jpg');
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	z-index: 0;
	height: 84.4%;
	background-position: center;
	.container {
		padding-top: 15px;
		height: 84.4%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&::before {
		content: '';
		position: absolute;
		width: 60vw;
		height: 118.4%;
		background-image: url('../../img/frame-yellow.svg');
		background-repeat: no-repeat;
		background-position: 70% 100%;
		background-size: auto 100%;
		z-index: -1;
	}
	&::after {
		content: '';
		background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
	}
	header {
		.experience {
			color: $white;
			font-weight: bold;
			font-size: 16px;
			span {
				color: $yellow-lighter;
				text-transform: uppercase;
			}
		}
		@include callback;
	}
	.caption {
		text-transform: uppercase;
		h1 {
			text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
			color: $white;
			font-size: 62px;
			font-weight: bold;
		}
		h2 {
			color: $white;
			font-size: 30px;
			font-weight: 400;
		}
		p {
			color: $yellow-lighter;
			font-size: 18px;
			font-weight: 500;
		}
	}
	.background {
		background-image: url('../../img/yellow-romb.png');
		background-repeat: no-repeat;
		background-position: 82% 100%;
	}
	.triggers {
		margin-bottom: 50px;
		li {
			text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
			color: $white;
			font-size: 16px;
			font-weight: 400;
			padding-left: 65px;
			margin-bottom: 35px;
			position: relative;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: '';
				position: absolute;
				width: 45px;
				height: 40px;
				left: 0;
				top: 0;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: top;
			}
		}
		.triggers-elem-1::before {
			width: 45px;
			height: 30px;
			background: url('../../img/sprite/css_sprites.png')  -177px -369px;
		}
		.triggers-elem-2::before {
			width: 45px; height: 39px;
			background: url('../../img/sprite/css_sprites.png')  -79px -300px;
		}
		.triggers-elem-3::before {
			width: 45px; height: 34px;
			background: url('../../img/sprite/css_sprites.png') -112px -369px;
		}
	}
	.rhomb {
		transform: translateX(15%);
		span {
			font-size: 36px;
			font-weight: 700;
			text-transform: uppercase;
		}
		p:first-of-type {
			font-size: 18px;
			font-weight: 500;
			text-align: center;
			text-transform: uppercase;
		}
		.footnote {
			font-size: 16px;
			opacity: 0.9;
		}
		button {
			width: 305px;
			margin-bottom: 40px;
			@include btn-bw;
		}
	}
	@media (max-width: 1200px) {
		&::before {
			background-position: 100% 100%;
		}
		.background {
			background-position: 100% 100%;
		}
		.rhomb {
			transform: translateX(18%);
		}
	}
	@media (max-width: 992px) {
		&::before {
			background-image: none;
		}
		&::after {
			width: 100%;
		}
		.background {
			background-position: 50% 100%;
		}
		.rhomb {
			transform: none;
		}
	}
	@media (max-width: 768px) {
		.background {
			background-size: contain;
		}
		.caption {
			h1 {
				font-size: 52px;
			}
		}
		.rhomb {
			span {
				font-size: 26px;
			}
			button {
				margin-bottom: 30px;
			}
		}
	}
	@media (max-width: 576px) {
		height: auto;
		.container {
			height: auto;
		}
		.caption {
			h1 {
				font-size: 37px;
			}
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
				font-weight: 500;
			}
		}
		.background {
			background-image: url('../../img/yellow-romb.png');
			background-size: 100% 75%;
		}
		.rhomb {
			text-align: center;
			span {
				font-size: 18px;
			}
			p:first-of-type {
				font-size: 14px;
				width: 65%;
			}
			.footnote {
				font-size: 14px;
				opacity: 0.9;
				width: 90%;
			}
			button {
				width: 84%;
				margin-bottom: 0px;
				@include btn-bw;
				font-size: 12px;
			}
		}
	}
}