footer {
	padding: 30px 0;
	background-color: #2a2c30;
	.privacy-policy {
		text-decoration: none;
		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 400;
		line-height: 25.89px;
		color: #9aa2b2;
		letter-spacing: 0.32px;
		border-bottom: 1px dotted #9aa2b2;
		&:hover {
			border-bottom: none;
			text-decoration: none;
			padding-bottom: 1px;
			color: #9aa2b2;
		}
		&:active {
			border-bottom: 1px dotted #9aa2b2;
		}
	}
	.copyright {
		margin-top: auto;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 400;
		line-height: 25.89px;
		letter-spacing: 0.32px;
		margin-bottom: 0;
		a {
			margin-bottom: 0;
			text-decoration: none;
			color: $white;
			&:hover {
				opacity: 0.7;
			}
			&::active {
				opacity: 1;
			}
		}
		svg {
			vertical-align: middle;
			width: 50px;
			object-fit: cover;
		}
	}
	.phone {
		margin-bottom: 10px;
	}
	.sign {
		margin-top: 23px;
	}
	@include callback;
	@media (max-width: 992px) {
		.copyright {
			margin-top: 30px;
		}
	}
}