.numerals {
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 50px;
	.caption {
		padding-top: 50px;
		padding-bottom: 100px;
		background: $yellow-lighter;
		position: relative;
		margin-bottom: 0;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 50px;
			background: $black;
			bottom: 0;
			left: 0;
		}
		span {
			font-size: 20px;
		}
		p {
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	ul {
		font-family: "Open Sans";
		margin-bottom: 50px;
		flex-wrap: nowrap;
		justify-content: space-between;
		li {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			flex-basis: 20%;
			align-items: center;
			position: relative;
			padding: 0 15px;
			padding-top: 50px;
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 60px;
				top: -80px;
				background-repeat: no-repeat;
				background-position: center;
			}
			&:nth-child(1)::before {
				background-image: url('./../../img/numerals-item-1.png')
			}
			&:nth-child(2)::before {
				background-image: url('./../../img/numerals-item-2.png')
			}
			&:nth-child(3)::before {
				background-image: url('./../../img/numerals-item-3.png')
			}
			&:nth-child(4)::before {
				background-image: url('./../../img/numerals-item-4.png')
			}
			&:nth-child(5)::before {
				background-image: url('./../../img/numerals-item-5.png')
			}
			p {
				margin-bottom: 0;
				font-size: 14px;
				color: #797878;
				text-align: center;
				&:first-of-type {
					margin-bottom: 15px;
					min-height: 60px;
				}
				&:last-of-type {
					text-transform: lowercase;
					margin-top: 5px;
				}
			}
			strong {
				font-size: 72px;
				line-height: 24.05px;
				margin-bottom: 30px;
			}
		}
	}
	button {
		background-color: #ffc500;
		@include btn-yellow;
	}
	@media (max-width: 1200px) {
		ul {
			li {
				p:first-of-type {
					margin-bottom: 30px;
				}
			}
		}
	}
	@media (max-width: 992px) {
		.container {
			max-width: 100%;
		}
		ul {
			padding-left: 15px;
			padding-right: 15px;
			li {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	@media (max-width: 768px) {
		.container {
			max-width: 540px;
		}
		.caption {
			padding-bottom: 50px;
			&::after {
				display: none;
			}
		}
		ul {
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 0;
			padding-right: 0;
			li {
				padding-left: 15px;
				padding-right: 15px;
				&::before {
					display: none;
				}
			}
		}
	}
	@media (max-width: 576px) {
		.caption {
			padding-left: 15px;
			padding-right: 15px;
		}
		button {
			white-space: normal;
		}
		ul {
			padding-left: 15px;
			padding-right: 15px;
			li {
				flex-basis: auto;
				width: 214.5px;
			}
		}
	}
}