.photo-production {
  background-image: url('../../img/photo-production.jpg');
  background-repeat: no-repeat;
  background-size: 100% 70%;
  padding-top: 50px;
  padding-bottom: 75px;
  .caption {
    margin-bottom: 0;
    span {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      &:first-of-type {
        color: $white;
        font-size: 36px;
        margin-bottom: 3px;
      }
      &:last-of-type {
        color: $yellow-lighter;
        font-size: 24px;
      }
    }
  }
  .carousel_wrap {
    margin-top: 125px;
    position: relative;
  }
  #waterwheel {
    width: 90%;
    margin: 0px auto;
    height: 350px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 370px;
      height: 390px;
      border: 25px solid $yellow-lighter;
      top: -20px;
      left: 50%;
      margin-left: -185px;
      z-index: 99;
    }
    &:hover::before {
      border-color: $yellow-darker;
    }
  }
  .nav_button {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 40px;
    right: 0px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    background: $yellow-lighter;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    z-index: 99;
    &:hover {
      background: $yellow-darker;
    }
    &:active {
      background: $yellow-lighter;
    }
  }
  .nav_button.prev_button {
    left: 25%;
  }
  .nav_button.next_button {
    left: auto;
    right: 25%;
  }
  @media (max-width: 1200px) {
    .nav_button.prev_button {
      left: 20%;
    }
    .nav_button.next_button {
      left: auto;
      right: 20%;
    }
  }
  @media (max-width: 992px) {
    .carousel_wrap {
      margin-top: 95px;
      position: relative;
    }
    .nav_button.prev_button {
      left: 15%;
    }
    .nav_button.next_button {
      left: auto;
      right: 15%;
    }
  }
  @media (max-width: 768px) {
    .nav_button.prev_button {
      left: auto;
      left: 1%;
    }
    .nav_button.next_button {
      left: auto;
      right: 1%;
    }
  }
  @media (max-width: 576px) {
    #waterwheel::before {
      border: none;
    }
    .nav_button.prev_button {
      left: auto;
      left: 0%;
      top: 105%
    }
    .nav_button.next_button {
      left: auto;
      right: 0%;
      top: 105%
    }
  }
}