.photo-production {
  background-image: url('../../img/photo-production.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 50px;
  padding-bottom: 75px;
  .caption {
    span {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      &:first-of-type {
        color: $white;
        font-size: 36px;
        margin-bottom: 3px;
      }
      &:last-of-type {
        color: $yellow-lighter;
        font-size: 24px;
      }
    }
  }
  .carousel_wrap {
    position: relative;
    margin-top: 150px;
  }
  #waterwheel {
    width: 1200px;
    margin: 0px auto;
    height: 350px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 370px;
      height: 390px;
      border: 25px solid $yellow-lighter;
      top: -20px;
      left: 50%;
      margin-left: -185px;
      z-index: 99;
    }
    &:hover::before {
      border-color: $yellow-darker;
    }
  }
  .nav_button {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -30px;
    height: 40px;
    width: 40px;
    right: 0px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    background: $yellow-lighter;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    z-index: 99;
    &:hover {
      background: $yellow-darker;
    }
    &:active {
      background: $yellow-lighter;
    }
  }
  .nav_button.prev_button {
    left: 27%;
  }
  .nav_button.next_button {
    left: auto;
    right: 27%;
  }
}