.problems {
	padding: 50px 0;
	background-image: url('../../img/3problem-back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #f6f6f6;
	.caption {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 100px;
		p:first-of-type {
			display: inline-block;
			font-size: 22px;
			background-color: $yellow-lighter;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 40px;
			padding-right: 15px;
			margin-bottom: 0;
			position: relative;
			z-index: 1;
			&::after {
				content: '3';
				position: absolute;
				text-shadow: 0 0 6px rgba(0, 0, 0, 0.73);
				color: $yellow-lighter;
				font-family: "Open Sans";
				font-size: 71px;
				font-weight: 700;
				height: 56px;
				line-height: 56px;
				text-transform: uppercase;
				top: 0;
				left: -25px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 50px;
				right: -12px;
				top: 0;
				height: 56px;
				transform: skew(-16deg);
				background: $yellow-lighter;
				z-index: -1;
			}
		}
		p:last-of-type {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
			color: $white;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	.line-1 p:first-child {
		margin-left: 6%;
	}
	.line-2 p:first-child {
		margin-left: 2.3%;
	}
	.line-1 p:last-child {
		margin-right: -11.5%;
	}
	.line-2 p:last-child {
		margin-right: -4%;
	}
	.line-3 p:first-child {
		margin-left: -2%;
	}
	.line-1,
	.line-2,
	.line-3 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 0;
		display: flex;
		justify-content: space-between;
		p {
			position: relative;
			width: 35%;
			margin-bottom: 0;
			&:first-of-type {
				line-height: 23.83px;
				background-color: #e5e0dc;
				height: 70px;
				padding-left: 50px;
				display: flex;
				align-items: center;
				z-index: 1;
				transform: translateX(27%);
				&::after {
					content: '';
					position: absolute;
					width: 87px;
					height: 87px;
					background: url('../../img/sprite/css_sprites.png')  -402px -10px;
					left: -50px;
					top: -9px;
				}
				&::before {
					content: '';
					position: absolute;
					width: 50px;
					right: -12px;
					height: 70px;
					transform: skew(-16deg);
					background: #e5e0dc;
					z-index: -1;
				}
			}
			&:last-of-type {
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
				color: $white;
				line-height: 23.77px;
				padding-left: 55px;
				margin-bottom: 75px;
				transform: translateX(-175px);
				&::after {
					content: '';
					position: absolute;
					width: 35px;
					height: 35px;
					background: url('../../img/sprite/css_sprites.png') -10px -442px;
					left: 0;
					top: 0;
				}
			}
		}
	}
	@media (max-width: 1200px) {
		.line-1 p:first-child {
			margin-left: 7%;
		}
		.line-2 p:first-child {
			margin-left: 2%;
		}
		.line-3 p:first-child {
			margin-left: -4%;
		}
		.line-1 p:last-child {
			margin-right: -14.5%;
		}
		.line-2 p:last-child {
			margin-right: -9%;
		}
		.line-3 p:last-child {
			margin-right: -3.5%;
		}
	}
	@media (max-width: 992px) {
		.caption {
			margin-bottom: 70px;
		}
		.line-1,
		.line-2,
		.line-3 {
			font-size: 14px;
		}
		.line-1 p:first-child {
			margin-left: 8.5%;
		}
		.line-2 p:first-child {
			margin-left: 1.5%;
		}
		.line-3 p:first-child {
			margin-left: -6%;
		}
		.line-1 p:last-child {
			margin-right: -20%;
		}
		.line-2 p:last-child {
			margin-right: -15%;
		}
		.line-3 p:last-child {
			margin-right: -10%;
		}
	}
	@media (max-width: 768px) {
		.line-1 p:first-child {
			margin-left: 10%;
		}
		.line-2 p:first-child {
			margin-left: 0%;
		}
		.line-3 p:first-child {
			margin-left: -15%;
		}
		.line-1 p:last-child {
			margin-right: -20%;
		}
		.line-2 p:last-child {
			margin-right: -10%;
		}
		.line-3 p:last-child {
			margin-right: 0%;
		}
		background-size: 100% 100%;
		.line-1,
		.line-2,
		.line-3 {
			font-size: 16px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			p {
				&:first-of-type {
					margin-bottom: 10px;
					transform: translate(25%);
					width: 100%;
					padding-right: 118px;
					&::before {
						display: none;
					}
				}
				&:last-of-type {
					transform: translate(0%);
					width: 80%;
				}
			}
		}
	}
	@media (max-width: 576px) {
		background-size: cover;
		background-position: center;
		.caption {
			padding: 0 15px;
			p:first-of-type {
				&::before {
					display: none;
				}
				&::after {
					left: 0;
				}
			}
		}
		.line-1,
		.line-2,
		.line-3 {
			padding: 0 15px;
			p {
				width: auto;
				font-size: 14px;
				&:first-of-type {
					margin-left: 90px;
					margin-bottom: 10px;
					transform: translate(0);
					width: 100%;
					padding-right: 45px;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34);
					&::before {
						display: none;
					}
				}
				&:last-of-type {
					transform: translate(0%);
					font-size: 18px;
					width: 60%;
					margin-right: 0;
					padding: 0;
					&::after {
						left: -40px;
					}
				}
			}
		}
	}
}