.problems {
	padding: 50px 0;
	.caption {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		h2 {
			color: $black;
			font-size: 22px;
			padding: 20px;
			background-image: url('../../img/3-problem-caption.png');
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 0;
		}
		p {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
			color: $white;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
}