.produced {
	background-color: $white;
	padding: 50px 0;
	overflow: hidden;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: -70%;
		right: -15%;
		width: 1500px;
		height: 1000px;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		border: 40px solid #ebebeb;
	}
	.caption {
		text-transform: uppercase;
		margin-bottom: 100px;
		P {
			margin-bottom: 0.5rem;
		}
		p:first-of-type {
			color: $yellow-darker;
			font-size: 20px;
			font-weight: bold;
		}
		p:nth-last-of-type(2) {
			color: $black;
			font-size: 36px;
			font-weight: 500;
		}
		p:last-of-type {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 0;
		}
	}
	ul {
		z-index: 1;
		margin-bottom: 0;
		li {
			width: 230px;
			font-weight: bold;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 23px;
			padding-left: 83px;
			padding-top: 82px;
			position: relative;
			&::before {
				content: '';
				width: 125px;
				height: 125px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		li:first-child {
			margin-left: 90px;
			&::before {
				background: url('../../img/sprite/css_sprites.png') -155px -155px;
			}
		}
		li:nth-child(2)::before {
			background: url('../../img/sprite/css_sprites.png') -10px -155px;
		}
		li:nth-child(3) {
			margin-left: 130px;
			&::before {
				background: url('../../img/sprite/css_sprites.png') -155px -10px;
			}
		}
		li:last-child {
			margin-left: 35px;
			margin-bottom: 0;
			&::before {
				background: url('../../img/sprite/css_sprites.png') -10px -10px;
				;
			}
		}
	}
	.carousel {
		.carousel-indicators {
			margin-bottom: 0;
			bottom: 0;
			@include carousel-indicators;
		}
	}
	.carousel-item {
		transition-duration: 2s;
	}
	.img-block {
		height: 490px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.carousel-inner:hover .carousel-control-prev,
	.carousel-inner:hover .carousel-control-next {
		opacity: 1;
	}
	@media (max-width: 1200px) {
		background-position: center;
	}
	@media (max-width: 992px) {
		&::before {
			display: none;
		}
		.img-block {
			height: 460px;
		}
		.caption {
			margin-bottom: 70px;
		}
		ul {
			margin-bottom: 1rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li:first-child {
				margin-left: 0px;
				flex-basis: 50%;
			}
			li:nth-child(2) {
				flex-basis: 50%;
			}
			li:nth-child(3) {
				margin-left: 0px;
				flex-basis: 50%;
			}
			li:last-child {
				margin-left: 0px;
				flex-basis: 50%;
			}
		}
	}
	@media (max-width: 768px) {
		.img-block {
			height: 340px;
		}
	}
	@media (max-width: 576px) {
		li {
			flex-basis: auto !important;
		}
		.img-block {
			height: 340px;
		}
	}
	@media (max-width: 450px) {
		.img-block {
			height: 280px;
		}
	}
	@media (max-width: 400px) {
		.img-block {
			height: 240px;
		}
	}
}