.produced {
	background-image: url('../../img/background-2.png');
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 50px 0;
	.caption {
		text-transform: uppercase;
		text-align: center;
		P {
			margin-bottom: 0.5rem;
		}
		p:first-of-type {
			color: $yellow-darker;
			font-size: 20px;
			font-weight: bold;
		}
		p:nth-last-of-type(2) {
			color: $black;
			font-size: 36px;
			font-weight: 500;
		}
		p:last-of-type {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 25px;
		}
	}
	ul {
		margin-bottom: 0;
		li {
			color: $black;
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 23px;
			padding-left: 83px;
			padding-top: 82px;
			position: relative;
			&::before {
				content: '';
				width: 125px;
				height: 125px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		li:first-child {
			margin-left: 90px;
			&::before {
				background-image: url('./../../img/produced-item-1.svg');
			}
		}
		li:nth-child(2)::before {
			background-image: url('./../../img/produced-item-2.svg');
		}
		li:nth-child(3) {
			margin-left: 130px;
			&::before {
				background-image: url('./../../img/produced-item-3.svg');
			}
		}
		li:last-child {
			margin-left: 35px;
			margin-bottom: 0;
			&::before {
				background-image: url('./../../img/produced-item-4.svg');
			}
		}
	}
	.carousel {
		.carousel-indicators {
			margin-bottom: 0;
			bottom: 0;
			@include carousel-indicators;
		}
		.carousel-inner {
			height: 370px;
		}
	}
}