.produced {
	background-image: url('../../img/background-2.png');
	background-size: auto 100%;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding: 50px 0;
	.caption {
		text-transform: uppercase;
		margin-bottom: 100px;
		P {
			margin-bottom: 0.5rem;
		}
		p:first-of-type {
			color: $yellow-darker;
			font-size: 20px;
			font-weight: bold;
		}
		p:nth-last-of-type(2) {
			color: $black;
			font-size: 36px;
			font-weight: 500;
		}
		p:last-of-type {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 0;
		}
	}
	ul {
		margin-bottom: 0;
		li {
			width: 230px;
			font-weight: bold;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 23px;
			padding-left: 83px;
			padding-top: 82px;
			position: relative;
			&::before {
				content: '';
				width: 125px;
				height: 125px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		li:first-child {
			margin-left: 90px;
			&::before {
				background-image: url('./../../img/produced-item-1.svg');
			}
		}
		li:nth-child(2)::before {
			background-image: url('./../../img/produced-item-2.svg');
		}
		li:nth-child(3) {
			margin-left: 130px;
			&::before {
				background-image: url('./../../img/produced-item-3.svg');
			}
		}
		li:last-child {
			margin-left: 35px;
			margin-bottom: 0;
			&::before {
				background-image: url('./../../img/produced-item-4.svg');
			}
		}
	}
	.carousel {
		.carousel-indicators {
			margin-bottom: 0;
			bottom: 0;
			@include carousel-indicators;
		}
		.carousel-inner {
			height: 370px;
		}
	}
	@media (max-width: 992px) {
		background-image: none;
		.caption {
			margin-bottom: 70px;
		}
	}
	@media (max-width: 768px) {
		ul {
			margin-bottom: 1rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li:first-child {
				margin-left: 0px;
			}
			li:nth-child(2)::before {}
			li:nth-child(3) {
				margin-left: 0px;
			}
			li:last-child {
				margin-left: 0px;
			}
		}
	}
	@media (max-width: 576px) {
		ul {
			justify-content: center;
		}
		.carousel {
			.carousel-inner {
				height: 300px;
			}
		}
	}
}