.standing {
	padding: 50px 0;
	background-image: url('../../img/standing-romb.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 18% 55%;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-size: cover;
		background-image: url('../../img/standing-back.jpg');
		top: 0;
		left: 0;
		z-index: -1;
	}
	.caption {
		margin-bottom: 100px;
		transform: translateX(-5%);
		background-repeat: no-repeat;
		background-size: contain;
		span {
			display: block;
			font-size: 36px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		p {
			&:first-of-type {
				font-size: 20px;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
			&:last-of-type {
				font-size: 18px;
				font-weight: 400;
				margin-bottom: 0;
			}
		}
	}
	.carousel {
		.carousel-indicators {
			margin-bottom: 0;
			bottom: -15px;
			@include carousel-indicators;
		}
		.image-block {
			&:last-child {
				margin-left: 5px;
			}
			img {
				object-fit: contain;
				width: 220px;
				height: 310px;
			}
		}
		.carousel-item:nth-child(3) {
			.image-block:first-child {
				transform: rotate(-0.5deg);
			}
			.image-block:last-child {
				transform: translateY(10px) rotate(-0.6deg);
			}
		}
	}
	@media (max-width: 1200px) {
		background-size: 25% 50%, 50% 100%;
		.carousel .image-block img {
			object-fit: contain;
			width: 210px;
			height: 300px;
		}
	}
	@media (max-width: 992px) {
		background-size: 27% 51%, 50% 100%;
		.caption {
			margin-bottom: 70px;
			transform: translateX(-3%);
			span {
				margin-bottom: 0;
			}
			p:first-of-type {
				margin-bottom: 10px;
			}
		}
		.carousel .image-block img {
			object-fit: contain;
			width: 190px;
			height: 280px;
		}
	}
	@media (max-width: 768px) {
		background-image: none;
		&::before {
			background-image: none;
		}
		.caption {
			transform: translate(0);
			text-align: center;
			span {
				color: $yellow-darker;
			}
		}
	}
	@media (max-width: 576px) {
		.carousel-item>div {
			flex-direction: column;
			align-items: center;
		}
		.carousel-item .image-block:last-child {
			margin-left: 0;
		}
		.carousel-item:nth-child(4) .image-block {
			margin-bottom: 140px;
			margin-top: 140px;
		}
	}
}