.type-tents {
	padding: 50px 0;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: -30%;
		left: -25%;
		width: 50%;
		height: 140%;
		transform: rotate(225deg);
		border: 40px solid $yellow-lighter;
		z-index: -1;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: -60%;
		right: -20%;
		width: 900px;
		height: 900px;
		transform: rotate(135deg);
		border: 40px solid #ebebeb;
		z-index: -1;
	}
	.caption {
		p {
			text-transform: uppercase;
			&:first-of-type {
				color: #202e45;
				font-size: 36px;
				font-weight: bold;
				text-transform: uppercase;
			}
			&:last-of-type {
				font-size: 20px;
				font-weight: 500;
				color: $black;
			}
		}
	}
	.spacing {
		margin-top: 30px;
	}
	.left-side {
		flex-direction: column;
		justify-content: space-between;
	}
	.item {
		position: relative;
		img {
			border: 10px solid $yellow-lighter;
		}
		.content-img {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 20;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			span {
				font-size: 18px;
				margin-top: 20px;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
	button {
		width: 150px;
		@include btn-bw
	}
	.under {
		margin-top: 60px;
		font-size: 18px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		p {
			margin-bottom: 0;
			&:first-of-type {
				font-weight: bold;
				text-transform: uppercase;
			}
			&:last-of-type {
				font-weight: 500;
				strong {
					text-transform: uppercase;
					color: $yellow-darker;
				}
			}
		}
		button {
			margin-left: 5px;
			width: 360px;
			min-height: 55px;
			color: $yellow-lighter;
			font-weight: 400;
			text-transform: uppercase;
			background: $black;
			&:hover {
				color: $yellow-darker;
				background: black;
			}
			&:active {
				color: $yellow-lighter;
				background: $black;
			}
		}
	}
	@media (max-width: 1200px) {
		&::after {
			top: -40%;
			left: -35%;
		}
		&::before {
			bottom: -50%;
			width: 800px;
			height: 800px;
		}
		.left-side {
			flex-direction: column;
			justify-content: space-between;
		}
	}
	@media (max-width: 992px) {
		&::after {
			position: absolute;
			top: -25%;
			left: -5%;
			width: 50%;
			height: 560px;
			transform: rotate(100deg);
			border: 40px solid $yellow-lighter;
		}
		&::before {
			bottom: -30%;
			right: -5%;
			width: 50%;
			height: 560px;
			transform: rotate(100deg);
			border: 40px solid #ebebeb;
		}
		.left-side {
			flex-direction: row;
			padding-left: 15px;
			margin-bottom: 30px;
		}
		.right-side {
			padding-right: 15px;
		}
	}
	@media (max-width: 768px) {
		&::after {
			left: -47%;
			top: -10%;
			transform: rotate(125deg);
		}
		&::before {
		display: none;
		}
		.under {
			flex-direction: column;
			align-items: center;
			button {
				margin-left: 0;
				margin-top: 5px;
			}
		}
		.left-side,
		.right-side {
			padding-left: 0;
			padding-right: 0;
		}
		.caption {
			flex-basis: 260px;
		}
	}
	@media (max-width: 576px) {
		&::after {
			left: -60%;
			top: 5%;
			width: 350px;
			transform: rotate(210deg)
		}
		&::before {
			right: -40%;
			bottom: -20%;
			width: 350px;
			transform: rotate(115deg)
		}
		.caption {
			padding-left: 15px;
			padding-right: 15px;
			flex-basis: auto;
			text-align: center;
			margin-bottom: 70px;
		}
		.left-side,
		.right-side {
			flex-direction: column;
			align-items: center;
			& .item:first-child {
				margin-bottom: 30px;
			}
		}
		.under {
			button {
				width: 100%;
				white-space: normal;
			}
		}
	}
}