.video-production {
	padding: 50px 0;
	background-image: url('../../img/video-production.jpg');
	.row {
		flex-wrap: nowrap;
	}
	.caption {
		border: 50px solid $yellow-lighter;
		margin-bottom: 100px;
		padding-left: 40px;
		padding-top: 120px;
		span {
			font-weight: bold;
			text-transform: uppercase;
			display: block;
			&:first-of-type {
				color: $white;
				font-size: 36px;
			}
			&:last-of-type {
				color: $yellow-lighter;
				font-size: 24px;
			}
		}
	}
	.player-2 {
		transform: translateX(-160px);
		position: relative;
		font-size: 0;
		border: 50px solid $yellow-lighter;
		margin-top: 100px;
		padding: 0;
	}
	.player__video {
		object-fit: inherit;
		cursor: pointer;
	}
	.player__button {
		background: none;
		border: 0;
		line-height: 1;
		color: white;
		text-align: center;
		outline: 0;
		padding: 0;
		cursor: pointer;
		max-width: 50px;
	}
	.player__controls {
		display: flex;
		position: absolute;
		bottom: 0;
		width: 100%;
		transform: translateY(100%) translateY(-5px);
		transition: all .3s;
		background: rgba(0, 0, 0, 0.1);
	}
	.player-2:hover .player__controls {
		transform: translateY(0);
	}
	.player-2:hover .progress-2 {
		height: 15px;
	}
	.progress-2 {
		position: relative;
		display: flex;
		flex-basis: 100%;
		height: 5px;
		transition: height 0.3s;
		background: rgba(0, 0, 0, 0.5);
		cursor: ew-resize;
	}
	.progress__filled-2 {
		width: 50%;
		background: $black;
		flex: 0;
		flex-basis: 50%;
	}
	@media (max-width: 1200px) {
		.player-2 {
			transform: translateX(-100px);
		}
	}
	@media (max-width: 992px) {
		.caption {
			padding: 0;
			border: none;
			text-align: center;
			margin-bottom: 70px;
		}
		.player-2 {
			transform: translateX(0);
			margin-top: 0;
			border-width: 25px;
		}
	}
	@media (max-width: 768px) {
		.player-2 {
			border-width: 25px;
		}
	}
	@media (max-width: 576px) {
		.player-2 {
			border-width: 0;
		}
	}
}