.virt-tour {
	padding: 50px 0;
	background-color: #f4f3f3;
	position: relative;
	.left-side {
		border-top: 50px solid $yellow-lighter;
		border-left: 50px solid $yellow-lighter;
		border-bottom: 50px solid $yellow-lighter;
	}
	.caption {
		display: inline-block;
		font-weight: bold;
		margin-top: -50px;
		background: #f4f3f3;
		padding: 0 20px;
		margin-left: 40px;
		p {
			font-size: 20px;
			margin-bottom: 0;
		}
		p:first-child {
			font-size: 36px;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		p:nth-child(2) {
			color: $yellow-darker;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	ul {
		padding: 15px;
		margin-bottom: 0;
		list-style: none;
		font-size: 18px;
		li {
			padding-left: 99px;
			position: relative;
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
			&::after {
				content: '';
				position: absolute;
				left: 13px;
				top: 17px;
				z-index: 1;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 84px;
				height: 84px;
				background-color: $yellow-darker;
				background-repeat: no-repeat;
				background-position: center;
				z-index: 1;
			}
			&:first-child::after {
				top: 25px;
				width: 55px;
				height: 31px;
				background: url('../../img/sprite/css_sprites.png') -144px -300px;
			}
			&:nth-child(2):after {
				left: 14px;
				top: 30px;
				width: 57px;
				height: 23px;
				background: url('../../img/sprite/css_sprites.png') -219px -300px;
			}
			&:last-child::after {
				width: 60px;
				height: 48px;
				background: url('../../img/sprite/css_sprites.png') -300px -127px;
			}
			strong {
				font-weight: bold;
			}
			p {
				color: #757f8f;
				font-weight: 400;
				margin-bottom: 0;
				margin-top: 2px;
			}
		}
	}
	.player-1 {
		position: absolute;
		font-size: 0;
		padding: 0;
		top: 0;
		right: 0;
		height: 100%;
		width: 50%;
	}
	.player__video {
		object-fit: inherit;
		cursor: pointer;
		height: 100%;
	}
	.player__button {
		background: none;
		border: 0;
		line-height: 1;
		color: white;
		text-align: center;
		outline: 0;
		padding: 0;
		cursor: pointer;
		max-width: 50px;
	}
	.player__controls {
		display: flex;
		position: absolute;
		bottom: 0;
		width: 100%;
		transform: translateY(100%) translateY(-5px);
		transition: all .3s;
		background: rgba(0, 0, 0, 0.1);
	}
	.player-1:hover .player__controls {
		transform: translateY(0);
	}
	.player-1:hover .progress-1 {
		height: 15px;
	}
	.progress-1 {
		position: relative;
		display: flex;
		flex-basis: 100%;
		height: 5px;
		transition: height 0.3s;
		background: rgba(0, 0, 0, 0.5);
		cursor: ew-resize;
	}
	.progress__filled-1 {
		background: $yellow-lighter;
	}
	@media (max-width: 1200px) {}
	@media (max-width: 992px) {
		.player-1 {
			position: relative;
			height: 100%;
			width: 100%;
		}
		.caption {
			margin-left: 0;
			margin-bottom: 70px;
		}
		.left-side {
			border-right: solid $yellow-lighter;
			border-width: 25px;
			border-bottom: none;
			text-align: center;
		}
		ul {
			text-align: left;
			li {
				&:last-of-type {
					margin-bottom: 50px;
				}
			}
		}
	}
	@media (max-width: 576px) {
		.left-side {
			border: none;
			ul {
				padding: 0;
				li {
					padding-left: 80px;
					&::before {
						width: 70px;
						height: 70px;
					}
					&:nth-child(1):after {
						left: 8px;
						top: 20px;
					}
					&:nth-child(2):after {
						left: 8px;
						top: 25px;
					}
					&:nth-child(3):after {
						left: 6px;
						top: 13px;
					}
				}
			}
		}
		.caption {
			display: block;
			padding-top: 50px;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.player-1,
	.player__video {
		min-height: 250px;
	}
}