body {
	font-family: PF Din Text Pro, Arial, sans-serif;
	font-size: 14px;
	background-color: $white;
	color: $black;
	overflow-x: hidden;
	position: relative;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}