@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), url('../fonts/open-sans-v15-latin-regular.woff') format('woff')
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), url('../fonts/open-sans-v15-latin-700.woff') format('woff'),
}

@font-face {
	font-family: 'PF Din Text Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/pfdintextpro-regular-webfont.woff2') format('woff2'), url('../fonts/pfdintextpro-regular-webfont.woff') format('woff'),
}

@font-face {
	font-family: 'PF Din Text Pro';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/pfdintextpro-medium-webfont.woff2') format('woff2'), url('../fonts/pfdintextpro-medium-webfont.woff2') format('woff'),
}

@font-face {
	font-family: 'PF Din Text Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/pfdintextpro-bold-webfont.woff2') format('woff2'), url('../fonts/pfdintextpro-bold-webfont.woff2') format('woff'),
}