@mixin btn-bw {
	color: $white;
	background: $black;
	font-size: 16px;
	line-height: 26px;
	min-height: 55px;
	font-weight: 500;
	text-transform: uppercase;
	&:hover {
		color: $yellow-darker;
		background: black;
	}
	&:active {
		color: $white;
		background: $black;
	}
}

@mixin btn-yellow {
	background-color: #ffc500;
	min-height: 55px;
	color: #292727;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		background-color: $yellow-darker;
		color: black;
	}
	&:active {
		background-color: #ffc500;
		color: #292727;
	}
}

@mixin callback {
	.phone {
		font-family: "Open Sans";
		font-size: 22px;
		font-weight: 300;
		line-height: 26.04px;
		color: $white;
		text-decoration: none;
		&:hover {
			opacity: 0.8;
		}
		&:active {
			opacity: 1;
		}
	}
	.request {
		color: $yellow-lighter;
		font-weight: 500;
		line-height: 26.04px;
		letter-spacing: 0.35px;
		border-bottom: 1px dotted $yellow-lighter;
		margin-bottom: 10px;
		cursor: pointer;
		&:hover {
			border-bottom: none;
			color: $yellow-darker;
			padding-bottom: 1px;
		}
		&:active {
			opacity: 1;
			color: $yellow-lighter
		}
	}
	.footnote {
		color: $white;
		opacity: 0.9;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.3px;
	}
}

@mixin carousel-indicators {
	li {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #c6c6c6;
		&.active {
			background-color: $yellow-lighter;
		}
	}
}