@import "fonts.scss";
@import "variables.scss";
@import "common.scss";
@import "./blocks/first-screen";
@import "./blocks/produced";
@import "./blocks/advantages";
@import "./blocks/problems";
@import "./blocks/numerals.scss";
@import "./blocks/virt-tour.scss";
@import "./blocks/photo-production.scss";
@import "./blocks/video-production.scss";
@import "./blocks/principles.scss";
@import "./blocks/guarantee.scss";